body {
    background-color: #eaeaea;
    margin: 0;
}
h1 {
    text-align: center;
    font-size: 2.5em;
}

#bulle {
    visibility: hidden;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: white;
    position: fixed;
    transition: 0.06s ease-in-out;
    mix-blend-mode: difference;
    transform: translateX(-50%) translateY(-50%);
}